.scrollable.feed {
    margin-top: 80px;
}


.single-post.container {
    margin-top: 8px;
    height: fit-content;
    width: 470px;
    border: 1px solid #DADDE1;
    border-radius: 8px;
    margin-bottom: 8px;
}

.post-top {
    width: 100%;
    height: 57px;
    background-color: white;
    display: inline-flex;
    justify-content: space-between;
    border-radius: 8px;
}

.user-links {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    width: 410px;
    margin: 8px 8px 4px 8px;
}

.caption-container {
    display: inline-flex;
    height:fit-content;
}

.post.username {
    font-size: 14px;
    color: black;
    font-weight: bold;
    padding: 12px 6px 12px 10px;
    text-align: left;
}

.caption-truncated {
    padding: 12px 6px 12px 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.caption-full {
    padding: 12px 6px;
    height: fit-content;
}

.hide-more {
    visibility:hidden;
}

.show-more {
    color:#8E8E8E;
    padding: 12px 12px 12px 0px;
}

img.feed-profile {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.post-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.post-menu>svg {
    margin-right: 12px;
}


img.post {
    height: 569px;
    width: 100%;
    object-fit: cover;
}

.post-bottom {
    font-size: 14px;
    background-color: white;
    border-radius: 8px;
    position: relative;
    display: flex;
    flex-direction: column;
    height: fit-content;
}


.single-comment-container {
    display: flex;
    flex-direction: row;
}

.single-comment {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
}

div.comment-owner {
    font-weight: bold;
    margin-right: 5px;
}

div.comments.create {
    bottom: 0;
    width: 100%;
    height: fit-content;
    border-radius: 8px;
}

form.comments {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    border-bottom-left-radius: 8px;
    border-top: 1px solid #DADDE1;

}

form.comments> input {
    width: 380px;
    min-height: 30px;
    padding: 5px 10px;
    max-height: 89px;
    border: none;
    resize: none;
    font-size: 14px;
    padding-top: 10px;
    border-bottom-left-radius: 8px;
}

button.post-comment {
    border: none;
    background-color: transparent;
    color: #0095F6;
}

.view-comments {
    color: #8E8E8E;
    margin: 0px 0px 15px 10px;
}
