.unfollow-container {
    width: 400px;
    max-height: 293px;
    border-radius: 15px;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.unfollow-pic {
    height: 90px;
    width: 90px;
    border-radius: 50%;
    object-fit: cover;
}


.unfollow-top {
    width: 100%;
    height: 197px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.unfollow-button {
    color:rgb(240, 74, 79);
    background-color: white;
    font-weight: bold;
    width: 100%;
    height: 48px;
    border-top: 1px solid #DADDE1;
    border-bottom: none;
    border-right: none;
    border-left: none;
}

.unfollow-cancel {
    background-color: white;
    width: 100%;
    height: 48px;
    border-top: 1px solid #DADDE1;
    border-bottom: none;
    border-right: none;
    border-left: none;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

button.isfollowing {
    width: 72px;
    height: 30px;
    border-radius: 5px;
    background-color:  #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
}
