img.home {
    width: 410px;
    max-height: 606px;
    margin-right: 15px;
}

.home.outer {
    width: fit-content;
    height: fit-content;
}

.home.inner {
    display: flex;
    flex-direction: row;
}

#root {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login.form.container, .signup.form {
    height: fit-content;
    width: fit-content;

}

.login.upper {
    min-height: 396px;
    height: fit-content;
    width: 350px;
    padding: 10px 0;
    background-color: white;
    border: 1px solid #dbdbdb;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
}

.signup.upper {
    width: 350px;
    min-height: 598px;
    height: fit-content;
    padding: 10px 0;
    background-color: white;
    border: 1px solid #dbdbdb;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start;
}

.lower {
    width: 350px;
    height: 41px;
    padding: 10px 0;
    font-size: 14px;
    background-color: white;
    border: 1px solid #dbdbdb;
    margin-top: 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.signup.link, .login.link {
    margin-left: 5px;
    color: #0095F6;
    font-weight: bold;
}

.link:hover {
    cursor: pointer;
}

img.logo.login {
    object-fit: contain;
    width: 240px;
    margin-top: 20px;
    margin-bottom: 15px;
}

img.logo.signup {
    object-fit: contain;
    width: 240px;
    margin-top: 20px;
    margin-bottom: 5px;
}

.signup.text {
    margin-bottom: 18px;
}

img.or {
    width: 270px;
    height: auto;
}

.or.signup {
    margin: 10px 0px;
}

input.home {
    width: 250px;
    height: 20px;
    padding: 9px 7px 8px 8px;
    background-color: #fafafa;
    border: solid 1px lightgray;
    border-radius: 3px;
}

input.one {
    margin-bottom: 5px;
}

input.two {
    margin-bottom: 15px;
}

input.signup {
    margin-bottom: 5px;
}

button.submit, button.signup {
    width: 268px;
    height: 30px;
    padding: 5px 9px;
    font-weight: bold;
    color: white;
    background-color: #0095F6;
    border: 1px solid #0095F6;
    border-radius: 5px;
}
button:hover {
    cursor: pointer;
}

button.submit.signup {
    margin-top: 40px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.demo.container {
    margin-bottom: 40px;
    font-size: 14px;
}

.demo.container > button {
    background-color: white;
    border: none;
    padding: none;
    font-weight: bold;
    color: rgb(61, 80, 129);
}

.signup.text {
    width: 268px;
    font-size: 17px;
    color: #8e8e8e;
    font-weight: bold;
    text-align: center;
}

.about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

div.about {
    height:40px;
    width: 106px;
    background-color: black;
    border-radius: 5px;
    padding: 0 10px;
    margin: 20px 5px;
}

div.about {
    color: white;
    text-decoration: none;
    display: inline-flex;
    justify-content:space-around;
    align-items: center;
}

.fa-brands {
    color: white;
    font-size: 30px;
}

.error-container {
    font-size: 14px;
    margin: 10px 0;
    color: red;
}

.req-text {
    font-size: 10px;
    color: #8e8e8e;
    margin: 10px 0;
}
