.likes-amount:hover {
    cursor: pointer;
}

.liked-users.container {
    max-height: 400px;
    width: 400px;
    background-color: white;
    border-radius: 10px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
}

img.liked-user {
    height: 44px;
    width: 44px;
    border-radius: 50%;
}

.likes-top {
    width: 100%;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid lightgray;
    font-weight: bold;
}

.liked-users-list{
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

.each-user {
    display: inline-flex;
    padding: 10px;
}

.user-names {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
}
