nav {
    display: flex;
    justify-content: center;
    width: 105%;
    position: fixed;
    top: 0;
    height: 60px;
    background-color: white;
    border-bottom: 1px solid #DADDE1;
    margin: 0;
    z-index: 1;

}

nav>ul {
    width: 935px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
}

img.logo.nav {
    height: 50px;
    width: auto;
    margin-top: 5px;
}

.nav.icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.nav-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav.button {
    border-radius: 50%;
    height: fit-content;
    width: fit-content;
    padding: 0;
    border: none;
}

img.profile.icon {
    height: 24px;
    width: 24px;
    border-radius: 50%;
}

img.nav-selected {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    border: 1px solid black;
}

.profile-dropdown {
    position: relative;
}

.dropdown {
    background-color: white;
    height: 70px;
    width: 198px;
    position: absolute;
    top: 40px;
    left: -150px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
}

.logout-button, #profile-button {
    padding: 8px 16px;
    display: flex;
    justify-content: flex-start;
    font-size: 14px;
    transition: background-color;

}

.logout-button:hover, #profile-button:hover {
    background-color: #efefef;
}

.logout-button {
    border: none;
    background-color: transparent;
    height: 35px;
    border-top: 1px solid lightgray;
}

.logout-text {
    margin-left: 30px;
}

svg {
    margin-right: 15px;
}

svg.links:hover {
    cursor: pointer;
}

a#profile-button{
color: black;
}

.nav-logo:hover {
    cursor: pointer;
}

div.search {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 236px;
    height: 36px;
    padding-right: 16px;
    padding-left: 16px;
    border-radius: 10px;
    border: none;
    background-color: #efefef;
}

input.search {
    height: 34px;
    width: 85%;
    border: none;
    background-color: #efefef;
    font-size: 16px;
}
input.search:focus {
    outline:none;
}

div.search:hover {
    cursor: text;
}

span.search {
    font-size: 16px;
    color: #8e8e8e;
}

.results-container {
    background-color: white;
    display: flex;
    border-radius: 5px;
    z-index: 1;
    height: 450px;
    width: 375px;
    position: absolute;
    top:63px;
    color: black;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding-top: 15px;
}

.fa-circle-xmark {
    color: rgb(195, 195, 195);
}

.fa-circle-xmark:hover {
cursor: pointer;
}

#hidden-close {
    display: none;
}

img.search {
    height: 44px;
    width: 44px;
    border-radius: 50%;
    margin-left: 20px;
}

.search.link.container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 60px;
}

.search.link.container:hover {
    background-color: #fafafa;
}


.search-names {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    font-size: 14px;
}
.search-username {
    color: black;
    font-weight: bold;
}
.search-name {
    color: #8e8e8e;
}

.info-icon {
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 21px;
    border-radius: 50%;
    margin-right: 15px;
}

.load-info-icon {
    border: 2px solid black;
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 21px;
    border-radius: 50%;
    margin-right: 15px;
}


.info-icon:hover, .load-info-icon:hover {
    cursor: pointer;
}

.info-icon:visited {

    text-decoration: none;
    color: black;
}
