.post-modal.container {
    height: 607px;
    width: 904px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
}

.single.post.container {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: black;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

div.right.content {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

img.post-photo {
    width: 100%;
    height: auto;
}

img.post-user {
    width: 32px;
    height: 32px;
    margin-right: 15px;
}


div.right-top {
    display: inline-flex;
    width: 100%;
    min-height: 60px;
    border-bottom: 1px solid #DADDE1;
    justify-content: space-between;
    align-items: center;
}

div.user-info {
    display: inline-flex;
    margin-left: 15px;
    align-items: center;
}
div.user-info-caption {
    display: inline-flex;
    align-items: center;
    height: 100%;
    margin-bottom: 30px;

}

.caption.icon, .caption-content {
    display: flex;
    align-items: flex-start;
    height: 100%;
}



.right-bottom {
    padding: 15px 15px;
    height: fit-content;
    overflow: auto;
    display: flex;
    flex-direction: column;
    
}


button.edit-post-modal {
    background-color: transparent;
    border: none;
    color: #0095F6;
    font-weight: bold;
    margin-right: 15px;
}


.edit-post-container {
    background-color: white;
    width: 500px;
    height: 300px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-post-container > input {
    height: 40px;
    width: 200px;
    margin-bottom: 20px;
}

.edit-post-container > button {
    background-color: #0095F6;
    border: 1px solid #0095F6;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 14px;
}

.comments.container {
    margin-top: 10px;
}
