

div.profile.container {
    width: 940px;
    padding: 0px 20px 0px 20px;
    position: absolute;
    top: 100px;
    margin: 0px auto;
    /* height: fit-content; */
}

.profile.top {
    width: 100%;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #DADDE1;
}

.user-info-top {
    margin-left: 50px;
    display: flex;
    flex-direction: column;
}

.top-username {
    font-size: 28px;
}

.username-edit-button {
    display: flex;
    flex-direction: row;
}

.counts {
    font-size: 16px;
    margin: 25px 0;
}
span.num {
    font-weight: bold;
}

.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}

img.profile-post {
    width: 293px;
    height: 293px;
}

.profile-bottom {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    height: fit-content;
    width: 940px;
}

div.categories {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 15px;
}

div.outer-photos-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: fit-content;

}

/* .photos-container {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    flex-wrap: wrap;
    justify-content: flex-start;

} */

img.profile-post {
    margin: 10px;
    object-fit: cover;
}

.edit-profile {
    color: black;
    font-size: 14px;
    font-weight: 400;
    width: fit-content;
    height: 18px;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 5px;
    padding: 5px 9px;
    margin-top: 5px;
    margin-left: 20px;
}

label.edit-profile {
    font-size: 16px;
    font-weight: bold;
    border: none;
}

.edit-user-container {
    height: 600px;
    width: 696px;
    background-color: white;
    border:1px solid #DADDE1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

input.edit-profile {
    width: 353px;
    height: 30px;
    /* margin-top: 30px; */
}

textarea.edit-profile {
    width: 353px;
    height: 60px;
    margin-bottom: 15px;
    margin-left: 25px;
    /* margin-top: 30px; */
}


form.edit-user-bottom {
    min-height: 70%;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    margin-right: 20px;
}

label.edit-profile {
    display: flex;
    align-items: flex-start;
    margin-left: 0px;
}

img.edit-user-pic {
    height: 38px;
    width: 38px;
    border-radius: 50%;
}

.edit-user-upper {
    display: flex;
    flex-direction: row;
    min-width: 450px;
    margin-left: 30px;
}

.edit-user-head {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    width: 100%;
}

.edit-user-info {
    margin-left: 25px;
}

label.upload-profile-pic {
    background-color: none;
    color: #0095F6;
    font-size: 14px;
    font-weight: 400;
}

label.upload-profile-pic:hover {
    cursor: pointer;
}

input.upload-profile-pic {
    display: none;
}

.edit-user-username {
    font-size: 20px;
}

button.edit-user{
    margin-top: 40px;
    width: 76px;
    height: 28px;
    border-radius: 5px;
    background-color: #0095F6;
    color:white;
    font-weight: bold;
    border: none;
    font-size: 14px;
}

.success-msg {
    color:#0095F6;
}
