

div.profile.container {
    width: 935px;
    padding: 0px 20px 0px 20px;
    position: absolute;
    top: 100px;
    margin: 0px auto;
    z-index: -1;
    /* height: fit-content; */
}

.profile.top {
    width: 100%;
    display: inline-flex;
    border-bottom: 1px solid #DADDE1;
}

.top-username {
    font-size: 28px;
    margin-left: 50px;
}

.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}

img.profile-post {
    width: 293px;
    height: 293px;
}

.profile-bottom {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
}

div.categories {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 15px;
}

.photos-container {
    width: 100%;
    display: flex;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

img.profile-post {
    margin-bottom: 25px;
}
